*.pdf
.vscode
bitclient_sample
*.pyc
.DS_Store
*.docx
cg.dot
cg.png
*_labels.txt
result

source/detection_number/training_scripts/test/*
!source/detection_number/training_scripts/test/README.md
source/detection_number/training_scripts/train/*
!source/detection_number/training_scripts/train/README.md
source/detection_number/training_scripts/valid/*
!source/detection_number/training_scripts/valid/README.md
.idea/

.pytest_cache/

preprocess.jpg
.coverage

snapshot_iter_*

camera_settings.json