*.pdf
.vscode
bitclient_sample
*.pyc
.DS_Store
*.docx
cg.dot
cg.png
*_labels.txt
result

source/DetectionNumber/training_scripts/test/*
!source/DetectionNumber/training_scripts/test/README.md
source/DetectionNumber/training_scripts/train/*
!source/DetectionNumber/training_scripts/train/README.md
source/DetectionNumber/training_scripts/valid/*
!source/DetectionNumber/training_scripts/valid/README.md
.idea/

.pytest_cache/
