*.pdf
.vscode
bitclient_sample
*.pyc
.DS_Store
*.docx
cg.dot
cg.png
*_labels.txt
result

source/numberDetection/training_scripts/test/*
!source/numberDetection/training_scripts/test/README.md
source/numberDetection/training_scripts/train/*
!source/numberDetection/training_scripts/train/README.md
source/numberDetection/training_scripts/valid/*
!source/numberDetection/training_scripts/valid/README.md
.idea/
